<div class="face-snap-card"[ngClass]="{snapped : buttonText === 'Unlike'}">
    <h2>{{ faceSnape.title  }}</h2>
    <h3>Mise en ligne le : {{faceSnape.createdDate }}</h3>
    <p>{{ faceSnape.description }}</p>
    <p *ngIf="faceSnape.location">Originaire de : <b>{{faceSnape.location}}</b></p>
    <img [src]="faceSnape.imageUrl" [alt]="faceSnape.title">
    <p>
        <button (click)="onAddSnap()" >{{buttonText}}</button>
        <span [ngStyle]="{color : 'rgb(0,'+ faceSnape.snaps +',0'}">❤️{{ faceSnape.snaps }}</span> 
    </p> 
</div>
